.note__screen {
  width: 100%;
  display: flex;
}
.note__appbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.note__options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.note__options > .note__btn-pic p {
  font-size: 70%;
  margin-right: 0.4em;
}
.note__options > .note__btn-pic {
  background-color: $whitePrimary;
  font-size: 120%;
  color: $bluePrimary;
  padding: 0.3em;
  border-radius: 0.5em;
  cursor: pointer;
  display: flex;
  margin-right: 0.4em;
  &:hover {
    box-shadow: 1px 1px 4px 0px black;
  }
  &:active {
    top: 4px;
  }
  &:hover:first-child {
    background-color: #1e90ff;
    color: $whiteSecondary;
    transition: 0.2s;
  }
  &:hover:nth-child(2) {
    background-color: lighten($color: $greenPrimary, $amount: 12);
    transition: 0.2s;
  }
  &:hover:last-child {
    background-color: lighten($color: $redPrimary, $amount: 10);
    color: $whiteSecondary;
    transition: 0.2s;
  }
}
.note__form .note__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.note__form .note__container .note__input-data {
  width: 100%;
  display: flex;
}
.note__form .note__container .note__input-data .note__icon {
  background-color: red;
  background-color: $whitePrimary;
  padding: 0.7em;
  height: 100%;
  box-sizing: border-box;
  border-end-start-radius: 0.4em;
  border-start-start-radius: 0.4em;
  display: flex;
}
.note__form .note__container .note__input-data input {
  width: 100%;
  background-color: $whitePrimary;
  padding: 0.5em;
  border-end-end-radius: 0.4em;
  border-start-end-radius: 0.4em;
  outline: none;
  font-size: 110%;
  border: none;
  margin-bottom: 0.4em;
}

.note__form .note__container textarea::placeholder,
.note__form .note__container .note__input-data input::placeholder {
  color: $grayPrimary;
}

.note__form .note__container textarea {
  resize: none;
  outline: none;
  border: none;
  background-color: $whitePrimary;
  padding: 1em;
  height: 350px;
  border-radius: 0.4em;
}

.notes__image-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  margin-top: 0.4em;
}
.notes__image-container img {
  height: 100%;
  object-fit: contain;
  box-shadow: 2px 2px 6px 1px black;
}

@media all and (max-width: 769px) {
  .note__appbar {
    justify-content: space-evenly;
  }
}
